
html body{
    margin: 0;
    font-family: Lora, sans-serif;
    scroll-behavior: smooth;
}

header, section, footer{
    width: 1050px;
   
}

#info{
    width:1050px ;
    height: 370px;
    padding: 30px;
    text-align: center;
    background: -webkit-radial-gradient(center, rgb(221, 221, 217), rgb(146, 144, 144));
}
#nombre{
    margin: 20px;
    padding: 10px;
}
.foto{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    overflow: hidden;
    border: 3px solid black;
    margin: auto;
}
.foto img{
    width: 100%;
    height: 100%;
}

#datos1,#datos2,#datos3{
    height: auto; 
    padding: 20px;
    margin: 10px 100px;
    display: flex;
   
}


#info2, #info3{
    width: 450px;
    float: left;
    height: 300px;
 margin: 10px 10px;
 border-radius: 10px;
 border: 10px solid transparent;
   
}

#info4, #info5{
    width: 450px;
    float: left;
    height: 300px;
    margin: 10px 10px;
 border-radius: 10px;
 border: 10px solid transparent;
  
}

#info6, #info7{
    width: 450px;
    height: 300px;
    float: left;
 margin: 10px 10px;
 border-radius: 10px;
 border: 10px solid transparent;}
/*
#info2{
    background-color: red;


}
#info3{
    background-color: green;
    
   
}
#info4{
    background-color: aqua;
    }
#info5{
    background-color: yellow;
   
   
}
#info6{
    background-color: rgb(255, 94, 0);
   }
#info7{
    background-color: rgb(255, 0, 85);
   
}*/
#pie{
    height: 200px;

}
#pie1{
 background:rgba(0, 0, 0, .1);
float: left;
 height: 120px;
 width: 100%;
 margin: 10px;
padding: 10px;
}

#parrafo-pie{
 font-size: 18px;
 color:rgb(12, 12, 12);
 padding-top: 10px;
 font-family: 'Lora';

}

@media all and (min-width:600px) and (max-width:1023px){
    
    header, section, footer{
        width: 580px;
        display: flex;
    }

 
    #datos1,#datos2,#datos3{
        height: auto; 
        padding: 20px;
        margin: 10px 100px;
        display: flex;
       float: none;
       
    }

    
#info2, #info3,#info4,#info5,#info6,#info7 {
    width: 500px;
    float: none;
    height: auto;
    display: flex;

}

}
